@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700');

$tablet-width: 768px;
$desktop-width: 1025px;

$header-background-color: #929191;

$title-font: 'EB Garamond',
serif;
$title-font-color: #F1EFEF;

$activities-background-color:#f78888;
$activities-font-color:#FFD6D6;

$food-drink-background-color: #f3d250;
$food-drink-font-color: #FFF9E3;

$accommodation-background-color:#90ccf4;
$accommodation-font-color:#FAFDFF;


@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin responsive-font-size($smallFont,
$tabletFont,
$desktopFont) {
    font-size: calc(#{$smallFont}vmin+#{$smallFont}vmax);
  @include tablet() {
    font-size: calc(#{$tabletFont}vmin+#{$tabletFont}vmax);
  }
  @include desktop() {
    font-size: calc(#{$desktopFont}vmin+#{$desktopFont}vmax);
  }
}

@mixin alertPositioning {
  width: 100%;
  position: absolute;
}

header {

  background-color: gray;

  #header-title {
    font-family: $title-font;
    color: $title-font-color;
    @include responsive-font-size(1.3,
    1.3,
    1.5)
  }
  #buttons-prefix {
    font-family: $title-font;
    color: $title-font-color;
    display: none;
    @include tablet(){
      display: block;
    }
    @include desktop(){
      display: block;
    }
  }
  .btn-group {
    display: none;
    @include tablet(){
      display: inline-flex;
    }
    @include desktop(){
      display: inline-flex;
    }
    .btn {
      margin-right: 1em;

    }
    #activities-btn {

      &:before {
        // Icon used on map, except resized (24px) and matching font color
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD0SURBVEhL7ZOxDcIwEEVT0rIADdBQswULUNPS0cAASFCxDiUbUCS2IyGkrECRlph/l09DECLYBUWe9KXLv/jubMtJRzQqa8eVc1eVMSPa8UDhlXfOiySmHQ/u4KLKsiHtODwnfxXT4Xhr95i8hM5UKR7TcUDBG47pIJKYdjxQ+I7JtyrEtOPgi6LHc99QXjymw/Fp2peimH4p0gbwmA7HGzPQBtYuRNoAHtPh4OVOuIO5SGN4TIdT5fmUDWYijeEx/TsoVF/oB+HIdvy9PShQN8CjeqtYDfjZ4L8b4DLX0FGL1HFDbHCSmMu+Rxa3EZd1tCVJHlRQfnGeBjQuAAAAAElFTkSuQmCC");
      }
      &.disabled {
        background-color: $activities-background-color;
        color: $activities-font-color;
        border-color: $activities-background-color;
      } // Overriding Bootstrap default color 
      &.active {
        color: $activities-font-color;
      }

    }
    #food-drink-btn {
      color: #fff;
      &:before {
        // Icon used on map, except resized (24px) and matching font color
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHHSURBVEhL7ZU7S8NQFMerICIoSHXTQf0AgoODIijiIHUTHKR+ACcHBx+Lqw6Cm7p1dOm3UAShW4dKQWrvTfFR15KHeo//mx5DY5rWiHWQ/OCQe57/m9skTcR0BFWTo8qSu1HM1+eIede3RTos54Oc8hzZkqJYYx+EDrUPgcuwnA8vackLMo2lVoaa/O8JNkt+odXQWNDj/wsqx5j9vqC4xmDHXTtiut4nj13fFlnkq+7aFMtuzpL72vehzPtxFsxyqClE1I2BzxC4075S1QH472TJnM4RPfWrmhhxc7Y4YcGU9gOg4BbNNf2F4FAAso01HnLKIX2MGY5l9MaVMoaUVd7GrFfMLBDlerjUD5JpbrxRSiQ57KFsY0ofl94UmeUJDuMuRRKxK93baDiFCmySy5qDxjMufsD6AOIrsFWsz3G1cX3Dxta53EOpYi96NmCPbr8ldogqw5wOB79DFwZvoeGlcbf1TYiCMuUilzYFvd5TGgkcUx+aUyxUxFM8ozfD6VB+LPiJK4gh7LYlFmxLxwXJLI35/nDrgnlfjEqDXB4guqAl93RDS8NHmcsD/OAO5QLZ4qil4RS4PABen01dw27MX5BIfAA0cLqEt84w7gAAAABJRU5ErkJggg==");
      }
      &.disabled {
        background-color: $food-drink-background-color;
        color: $food-drink-font-color;
        border-color: $food-drink-background-color;
      } // Overriding Bootstrap default color 
      &.active {
        color: $food-drink-font-color;
      }
    }

    #accommodation-btn {
      &:before {
        // Icon used on map, except resized (24px) and matching font color
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADYSURBVEhL7ZTREcIgDIZZxScdwU3cRN1AX3QJh3CSPvneEbRFCIZe2gJNKYqPfHe5K8mfP0DvEIWfaADWUsGj1XCi1IQUDYttbBXUGE+pjUGDK5UGGM2FSnGcxroxZmPNwyFdntfEh4TmlBbukNCcJK6GH/ICWHGNPYMBXsmiRpszpUbwZ+1tkWvskRpuKRrcwJuWI1KZo22mJUuWxi1IgC2e6DD5/lLj4TX/6dtjtuCQpfF2Ua5oaUC5ougAe9S5wLfmnqoh2xF8P3YYqjPIDQUV2RZSEOIDMqz/BGgyGoIAAAAASUVORK5CYII=");
      }

      &.disabled {
        background-color: $accommodation-background-color;
        color: $accommodation-font-color;
        border-color: $accommodation-background-color;
      } // Overriding Bootstrap default color 
      &.active {
        color: $accommodation-font-color;
      }
    }

  }
  
  .dropdown{
    @include tablet(){
      display: none;
    }
    @include desktop(){
      display: none;
    }
    
      
      #activities-checkbox-label{
        &:before{
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEsSURBVFhH7ZRNisJAEIV75R28gloRshyX4nFkTjEKcwHxCEa9hD9Hicu5wliveQ5RelpiuhQhHxSE95KqSnd1u5a6FL1eZ51l32uRkjGHRtseFNQGfq9CNdr2FCInX7Tf/9gMhyM2UNK259IAir+kgdAWFFn2RdseP4QiM/w1Y/aUIbz96/+Cr6cnVCwUfN2G1WAwQRHd8x0lh2do8CjZsRL59A2ILCjhVCx8A+pRskMLLbkCU0pYgSk0eJTs0Inf+2IiY0rQxtT2lOzQQj8ots3zLiWHZ9+AepRsiBWCBq/aWHJiSw2N3t/WJCc2bNDgVYczObHjFjqeyYldOKELqjGa7IikTUJX5MB09QklfCSYrj5NE7QNvG8Dlw9TB9PfJ/RximD6lpYbnDsDu+iNTz9RmNwAAAAASUVORK5CYII=");
        }
      }
      #food-drink-checkbox-label{
        &:before{
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGTSURBVFhH7ZLPSsNAEIdz10I3Wyz6Lgp6EwR9GP+f9CiVbEKfo5rEk6BelF59EEUvehBEndlMQpwh3W71IuaDhcxvv5ndJg1aWkqyOPycZVF71U+lsxaUgu+i9t+7AJVOuO9bC5wCg/u+tcApMLjvWwucAoP7vrXAKTC471sLnAKD+761wCkwuO9bC1KjXlG4HPTnKGokPdEddNNYvVAU4DNmo6i3WNThXWrCW3zGjPsCEO6tlOhVihpBB13soQgvcI1Znqhtiipgb9/ONuqKIkkWq2OSUooaAS9HNzPqiCJ4g90Vm8XhG8zYSYd6CRfM3S2y8OM86i6TLhkN+gsgPtPgPYoFmQkP0IGBT/npfI9iC/5SPMjOqC2bTZhZkRu9BQe8F40qw1eN39t+80ivwaALu4dOojep7Ru5Uetw2E11OHwazGjbDQ6GAx7LAXzBn+shi7sbpDdS+lT6cTbsaGg+hMPGtYPH+Ppxj7SJ/OgCdWYd1F6gvcDfvUDZ6FqkNzKtJ6gfMmmR3si0Xst/Jwi+AL08M6wrFEz7AAAAAElFTkSuQmCC");
        }
      }
      #accommodation-checkbox-label{
        &:before{
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD4SURBVFhH7ZJBEoIwDEW5hCeChWek42l0pY6LlvsokVThpzTApLu+mYxN+/pTZmwqlRzny+vUOX+nojVvr0JO24cH1RY/yzfMBd+58KaidS6UzsaHDtGn9eFHLIdT6BQ8fllIhS6H/3363f0IHE79fAA+Yn6W8uMe63lIxOF8tHtQ7iwJCWvDIxiqDUA/5fygf+4WcRm6zx8/8MnbkhiYfSUzhR7zeUuiCoC5bx4IqD4KpXuBdsG6F6gCYO6bBwKqj0LpXqBdsO4FqgCY++aBgOqjULoXaBese4EqAOa+eSCg+lEoXTxO0vb+lrpgWa3zVx5XqTBN8wF05P4FG/6txAAAAABJRU5ErkJggg==");
        }
      }
}

}

$body-height: 90vh;

#map {
  width: 75vw;
  height: $body-height;
}

#map-col {
  padding-left: 0;
  padding-right: 0;
}


#search-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
}


#searching-alert,
#search-error-alert,
#search-complete-alert {
  @include alertPositioning();
  z-index: 100;
}


.hide {
  display: none !important;
}

#cards-col {
  height: $body-height;
  overflow-y: scroll;
  .aside-card {
    flex: none;
    width: 100%;
  }
  .activities {
    background-color: $activities-background-color;
    color: $activities-font-color;
  }
  .accommodation {
    background-color: $accommodation-background-color;
    color: $accommodation-font-color;
  }
  .foodAndDrink {
    background-color: $food-drink-background-color;
    color: $food-drink-font-color;
  }



  .highlight {
    background-color: blue;
  }
}
