@mixin alertPositioning {
    width: 100%;
  position: absolute;
}

$body-height: 90vh;

#map {
  width: 75vw;
  height: $body-height;
}

#map-col{
  padding-left: 0;
  padding-right: 0;
}


#search-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
}


#searching-alert, #search-error-alert, #search-complete-alert{
@include alertPositioning();
  z-index: 100;
}


.hide{
  display: none !important;
}

#cards-col{
  height: $body-height;
  overflow-y: scroll;
  .aside-card{
    flex: none;
    width: 100%;
  }
  .highlight{
    background-color: blue;
  }
}
