@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700|Maitree|Overlock');

$tablet-width: 768px;
$desktop-width: 1025px;

$header-height: 10vh;
$body-height: 90vh;

$header-background-color: #929191;

$title-font: 'EB Garamond',
serif;
$title-font-color: #F1EFEF;

$subtitle-font: 'Maitree',
serif;

$core-font: 'Overlock',
cursive;

$activities-background-color:#f78888;
$activities-font-color:#FFD6D6;
$activities-title-color: #FFEF50;

$food-drink-background-color: #f3d250;
$food-drink-font-color: #FFF9E3;
$food-drink-title-color: #291A7A;

$accommodation-background-color:#90ccf4;
$accommodation-font-color:#FAFDFF;
$accommodation-title-color: #FF8E00;

$modal-btn-background-color: #FFE580;
$modal-btn-font-color:#A97217;

$dropdown-btn-background-color: #A7437C;
$dropdown-btn-font-color: #FAECF4;

$cards-col-background-color: #fbe8a6;
$cards-col-how-it-works-font-color: #656464;

@mixin tablet {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}


@mixin responsive-font-size($mobile-font,
$tablet-font,
$desktop-font) {
  font-size:  calc(((#{$mobile-font}vw * 2)/3) + #{$mobile-font}vmax);
  @include tablet() {
    font-size: calc(((#{$tablet-font}vw * 2)/3) + #{$tablet-font}vmax);
  }
  @include desktop() {
    font-size: calc(((#{$desktop-font}vw * 2)/3) + #{$desktop-font}vmax);
  }
}

@mixin alert-positioning {
  width: 100%;
  position: absolute;
  z-index: 110;
}

@mixin align-filter-icon {
  display: inline-block;
  transform: translateY(10%);
}

@mixin how-it-works-title {
  font-family: $title-font;
  color: #D05454;
  @include responsive-font-size(2,
  1.4,
  1.5);
}

@mixin activities-card-colors {
  background-color: $activities-background-color;
  color: $activities-font-color;
  .card-title {
    color: $activities-title-color;
  }
}

@mixin accommodation-card-colors {
  background-color: $accommodation-background-color;
  color: $accommodation-font-color;
  .card-title {
    color: $accommodation-title-color;
  }
}

@mixin food-drink-card-colors {
  background-color: $food-drink-background-color;
  color: $food-drink-font-color;
  .card-title {
    color: $food-drink-title-color;
  }
}


// Code from: https://stackoverflow.com/questions/40550070/multiple-transitions-with-scss
@mixin transition($x...) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
  transition: $x;
}




header {
  height: $header-height;


  .container-fluid,
  .list-inline,
  .row {
    height: 100%;
  }



  background-color: #929191;
  .title-section {
    margin-left: 1%;
    #header-title {
      font-family: $title-font;
      color: $title-font-color;
      @include responsive-font-size(1.5,
      1.4,
      1.7)
    }
  }

  .filter-section {
    margin-left: auto;
    #buttons-prefix {
      transform: translateY(12%);
      font-family: $title-font;
      color: $title-font-color;
      display: none;
      @include responsive-font-size(0,
      1.1,
      1.2);
      @include tablet() {
        display: block;
      }
      @include desktop() {
        display: block;
      }
    }
    .btn-group {
      display: none;
      @include tablet() {
        display: inline-flex;
      }
      @include desktop() {
        display: inline-flex;
      }
      .btn {
        height: $header-height;
        font-family: $subtitle-font;
        @include responsive-font-size(0.8,
        0.7,
        1);
        border-radius: 0.25rem!important; //Overrides removal of certain borders in Bootstrap .btn-group
        margin-right: 1em;
        &:hover {
          cursor: pointer;
        }
      }
      #activities-btn {

        &:before {
          // Icon used on map, except resized (24px) and matching font color
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD0SURBVEhL7ZOxDcIwEEVT0rIADdBQswULUNPS0cAASFCxDiUbUCS2IyGkrECRlph/l09DECLYBUWe9KXLv/jubMtJRzQqa8eVc1eVMSPa8UDhlXfOiySmHQ/u4KLKsiHtODwnfxXT4Xhr95i8hM5UKR7TcUDBG47pIJKYdjxQ+I7JtyrEtOPgi6LHc99QXjymw/Fp2peimH4p0gbwmA7HGzPQBtYuRNoAHtPh4OVOuIO5SGN4TIdT5fmUDWYijeEx/TsoVF/oB+HIdvy9PShQN8CjeqtYDfjZ4L8b4DLX0FGL1HFDbHCSmMu+Rxa3EZd1tCVJHlRQfnGeBjQuAAAAAElFTkSuQmCC");
          @include align-filter-icon();
        }
        &.disabled {
          background-color: $activities-background-color;
          color: $activities-font-color;
          border-color: $activities-background-color;
        } // Overriding Bootstrap default color 
        &.active {
          color: $activities-font-color;
        }

      }
      #food-drink-btn {
        color: #fff;
        &:before {
          // Icon used on map, except resized (24px) and matching font color
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHHSURBVEhL7ZU7S8NQFMerICIoSHXTQf0AgoODIijiIHUTHKR+ACcHBx+Lqw6Cm7p1dOm3UAShW4dKQWrvTfFR15KHeo//mx5DY5rWiHWQ/OCQe57/m9skTcR0BFWTo8qSu1HM1+eIede3RTos54Oc8hzZkqJYYx+EDrUPgcuwnA8vackLMo2lVoaa/O8JNkt+odXQWNDj/wsqx5j9vqC4xmDHXTtiut4nj13fFlnkq+7aFMtuzpL72vehzPtxFsxyqClE1I2BzxC4075S1QH472TJnM4RPfWrmhhxc7Y4YcGU9gOg4BbNNf2F4FAAso01HnLKIX2MGY5l9MaVMoaUVd7GrFfMLBDlerjUD5JpbrxRSiQ57KFsY0ofl94UmeUJDuMuRRKxK93baDiFCmySy5qDxjMufsD6AOIrsFWsz3G1cX3Dxta53EOpYi96NmCPbr8ldogqw5wOB79DFwZvoeGlcbf1TYiCMuUilzYFvd5TGgkcUx+aUyxUxFM8ozfD6VB+LPiJK4gh7LYlFmxLxwXJLI35/nDrgnlfjEqDXB4guqAl93RDS8NHmcsD/OAO5QLZ4qil4RS4PABen01dw27MX5BIfAA0cLqEt84w7gAAAABJRU5ErkJggg==");
          @include align-filter-icon();
        }
        &.disabled {
          background-color: $food-drink-background-color;
          color: $food-drink-font-color;
          border-color: $food-drink-background-color;
        } // Overriding Bootstrap default color 
        &.active {
          color: $food-drink-font-color;
        }
      }

      #accommodation-btn {
        &:before {
          // Icon used on map, except resized (24px) and matching font color
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADYSURBVEhL7ZTREcIgDIZZxScdwU3cRN1AX3QJh3CSPvneEbRFCIZe2gJNKYqPfHe5K8mfP0DvEIWfaADWUsGj1XCi1IQUDYttbBXUGE+pjUGDK5UGGM2FSnGcxroxZmPNwyFdntfEh4TmlBbukNCcJK6GH/ICWHGNPYMBXsmiRpszpUbwZ+1tkWvskRpuKRrcwJuWI1KZo22mJUuWxi1IgC2e6DD5/lLj4TX/6dtjtuCQpfF2Ua5oaUC5ougAe9S5wLfmnqoh2xF8P3YYqjPIDQUV2RZSEOIDMqz/BGgyGoIAAAAASUVORK5CYII=");
          @include align-filter-icon();
        }

        &.disabled {
          background-color: $accommodation-background-color;
          color: $accommodation-font-color;
          border-color: $accommodation-background-color;
        } // Overriding Bootstrap default color 
        &.active {
          color: $accommodation-font-color;
        }
      }

    }


    #modal-btn {

      width: 100%;


      @include transition(opacity 2s ease-in-out,
      font-size 2s,
      visibility 2s);


      &.hide {
        font-size: 0;
      }


      height: $header-height;
      background-color: $modal-btn-background-color;
      color: $modal-btn-font-color;
      font-family: $subtitle-font; // Don't use responsive font as it trigger transition 
      font-size: 0.7rem;
      @include desktop() {
        font-size: 1rem;
      }
      ;
      .material-icons {
        display: block;
      }


    }



    .dropdown-section {
      @include tablet() {
        display: none;
      }
      @include desktop() {
        display: none;
      }

      #filter-dropdown-btn {
        height: calc($header-height/2);
        background-color: $dropdown-btn-background-color;
        color: $dropdown-btn-font-color;
        border-color: $dropdown-btn-background-color;
        font-family: $subtitle-font;
        @include responsive-font-size(1.1,
        0,
        0);
      }

      #activities-checkbox-label {
        &:before {
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEsSURBVFhH7ZRNisJAEIV75R28gloRshyX4nFkTjEKcwHxCEa9hD9Hicu5wliveQ5RelpiuhQhHxSE95KqSnd1u5a6FL1eZ51l32uRkjGHRtseFNQGfq9CNdr2FCInX7Tf/9gMhyM2UNK259IAir+kgdAWFFn2RdseP4QiM/w1Y/aUIbz96/+Cr6cnVCwUfN2G1WAwQRHd8x0lh2do8CjZsRL59A2ILCjhVCx8A+pRskMLLbkCU0pYgSk0eJTs0Inf+2IiY0rQxtT2lOzQQj8ots3zLiWHZ9+AepRsiBWCBq/aWHJiSw2N3t/WJCc2bNDgVYczObHjFjqeyYldOKELqjGa7IikTUJX5MB09QklfCSYrj5NE7QNvG8Dlw9TB9PfJ/RximD6lpYbnDsDu+iNTz9RmNwAAAAASUVORK5CYII=");
          @include align-filter-icon();
        }
      }
      #food-drink-checkbox-label {
        &:before {
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGTSURBVFhH7ZLPSsNAEIdz10I3Wyz6Lgp6EwR9GP+f9CiVbEKfo5rEk6BelF59EEUvehBEndlMQpwh3W71IuaDhcxvv5ndJg1aWkqyOPycZVF71U+lsxaUgu+i9t+7AJVOuO9bC5wCg/u+tcApMLjvWwucAoP7vrXAKTC471sLnAKD+761wCkwuO9bC1KjXlG4HPTnKGokPdEddNNYvVAU4DNmo6i3WNThXWrCW3zGjPsCEO6tlOhVihpBB13soQgvcI1Znqhtiipgb9/ONuqKIkkWq2OSUooaAS9HNzPqiCJ4g90Vm8XhG8zYSYd6CRfM3S2y8OM86i6TLhkN+gsgPtPgPYoFmQkP0IGBT/npfI9iC/5SPMjOqC2bTZhZkRu9BQe8F40qw1eN39t+80ivwaALu4dOojep7Ru5Uetw2E11OHwazGjbDQ6GAx7LAXzBn+shi7sbpDdS+lT6cTbsaGg+hMPGtYPH+Ppxj7SJ/OgCdWYd1F6gvcDfvUDZ6FqkNzKtJ6gfMmmR3si0Xst/Jwi+AL08M6wrFEz7AAAAAElFTkSuQmCC");
          @include align-filter-icon();
        }
      }
      #accommodation-checkbox-label {
        &:before {
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD4SURBVFhH7ZJBEoIwDEW5hCeChWek42l0pY6LlvsokVThpzTApLu+mYxN+/pTZmwqlRzny+vUOX+nojVvr0JO24cH1RY/yzfMBd+58KaidS6UzsaHDtGn9eFHLIdT6BQ8fllIhS6H/3363f0IHE79fAA+Yn6W8uMe63lIxOF8tHtQ7iwJCWvDIxiqDUA/5fygf+4WcRm6zx8/8MnbkhiYfSUzhR7zeUuiCoC5bx4IqD4KpXuBdsG6F6gCYO6bBwKqj0LpXqBdsO4FqgCY++aBgOqjULoXaBese4EqAOa+eSCg+lEoXTxO0vb+lrpgWa3zVx5XqTBN8wF05P4FG/6txAAAAABJRU5ErkJggg==");
          @include align-filter-icon();
        }
      }
    }
  }
}


#map {
  width: 100vw;
  height: $body-height;
  @include tablet() {
    width: 75vw;
  }
  @include desktop() {
    width: 75vw;
  }
}

#map-col {
  padding-left: 0;
  padding-right: 0;
}


// Code for center-aligning element from: https://stackoverflow.com/questions/7720730/how-to-align-the-absolute-position-to-center
#search-btn {
  @include transition(opacity 2s ease-in-out,
  visibility 2.5s);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%); // To account for cards col and keep button centred
  @include tablet() {
    left: 40%;
  }
  @include desktop() {
    left: 40%;
  }

}


#searching-alert,
#search-error-alert,
#search-complete-alert {
  @include alert-positioning();
  @include transition(opacity 1s ease-in-out,
  visibility 1s);
}


.hide {

  opacity: 0; // display: none !important;
  visibility: hidden;
}




#cards-col {
  padding: 0;
  z-index: 0;
  background-color: $cards-col-background-color;
  height: $body-height;
  overflow-y: auto;

  #card-col-instructions {
    position: absolute;
    z-index: -10;
    color: $cards-col-how-it-works-font-color;
  }
  .aside-card {
    flex: none;
    width: 100%;


    .card-title {
      font-family: $title-font;
      font-weight: 600;
    }

    .card-subtitle {
      font-family: $subtitle-font;
    }
    .card-text {
      font-family: $core-font;
    }
    .card-link {
      font-family: $core-font;
      font-weight: 600;
    }


    &.activities {
      @include activities-card-colors();
    }
    &.accommodation {
      @include accommodation-card-colors();
    }
    &.foodAndDrink {
      @include food-drink-card-colors();
    }
    &.highlight {
      filter: saturate(3);

      .card-title {
        &:before {
          font-family: 'Material Icons';
          content: "star";
          display: inline;
          vertical-align: bottom;
        }
      }

    }
  }

  .card-img-top {
    max-height: 15em;
    object-fit: cover;
  }


}



.infowindow-card {
  max-width: 50vw;
  overflow: hidden;
  border: none !important; //Overrides Bootstrap default  
  margin-left: 10px;
  text-align: center;

  @include tablet() {
    max-width: 30vw;
  }
  @include desktop() {
    max-width: 25vw;
  }

  .card-img-top {
    max-height: 10em;

    @include tablet() {
      max-height: 20em;
    }
    @include desktop() {
      max-hight: 35em;
    }

    object-fit: cover;
    margin-left: 10px;
  }

  .card-title {
    @include responsive-font-size(2,
    1,
    1);
    font-family: $title-font;
  }

  .card-subtitle {
    @include responsive-font-size(1.4,
    0.8,
    0.8);
    font-family: $subtitle-font;
  }



}

.how-it-works-section {




  #how-it-works-cards-title {
    padding-left: 2%;
    @include responsive-font-size(0,
    1.3,
    1.5);
    @include how-it-works-title();
  }

  #how-it-works-modal-title {

    @include how-it-works-title();
  }

  .instructions-list {
    list-style-type: circle;
    font-family: $core-font;
    @include responsive-font-size(1.5,
    1.0,
    0.9);

    li {
      padding: 0.2em;
      @include tablet() {
        padding: 0.8em 0.7em 0.8em 0.2em;
      }

      @include desktop() {
        padding: 1em 0.7em 1em 0.2em;
      }
    }
  }

  #close-modal-btn {
    background-color: $activities-background-color;
    border-color: $activities-background-color;
    color: $activities-font-color;
  }
}
