@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700|Maitree|Overlock");
header {
  height: 10vh;
  background-color: #929191; }
  header .container-fluid,
  header .list-inline,
  header .row {
    height: 100%; }
  header .title-section {
    margin-left: 1%; }
    header .title-section #header-title {
      font-family: "EB Garamond", serif;
      color: #F1EFEF;
      font-size: calc(1.3vmin + 1.3vmax); }
      @media (min-width: 768px) and (max-width: 1024px) {
        header .title-section #header-title {
          font-size: calc(((1.6vw * 2)/3) + 1.6vmax); } }
      @media (min-width: 1025px) {
        header .title-section #header-title {
          font-size: calc(((1.7vw * 2)/3) + 1.7vmax); } }
  header .filter-section {
    margin-left: auto; }
    header .filter-section #buttons-prefix {
      transform: translateY(12%);
      font-family: "EB Garamond", serif;
      color: #F1EFEF;
      display: none;
      font-size: calc(0vmin + 0vmax); }
      @media (min-width: 768px) and (max-width: 1024px) {
        header .filter-section #buttons-prefix {
          font-size: calc(((1.1vw * 2)/3) + 1.1vmax); } }
      @media (min-width: 1025px) {
        header .filter-section #buttons-prefix {
          font-size: calc(((1.2vw * 2)/3) + 1.2vmax); } }
      @media (min-width: 768px) and (max-width: 1024px) {
        header .filter-section #buttons-prefix {
          display: block; } }
      @media (min-width: 1025px) {
        header .filter-section #buttons-prefix {
          display: block; } }
    header .filter-section .btn-group {
      display: none; }
      @media (min-width: 768px) and (max-width: 1024px) {
        header .filter-section .btn-group {
          display: inline-flex; } }
      @media (min-width: 1025px) {
        header .filter-section .btn-group {
          display: inline-flex; } }
      header .filter-section .btn-group .btn {
        height: 10vh;
        font-size: calc(0.8vmin + 0.8vmax);
        border-radius: 0.25rem !important;
        margin-right: 1em; }
        @media (min-width: 768px) and (max-width: 1024px) {
          header .filter-section .btn-group .btn {
            font-size: calc(((1vw * 2)/3) + 1vmax); } }
        @media (min-width: 1025px) {
          header .filter-section .btn-group .btn {
            font-size: calc(((1vw * 2)/3) + 1vmax); } }
        header .filter-section .btn-group .btn:hover {
          cursor: pointer; }
      header .filter-section .btn-group #activities-btn:before {
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD0SURBVEhL7ZOxDcIwEEVT0rIADdBQswULUNPS0cAASFCxDiUbUCS2IyGkrECRlph/l09DECLYBUWe9KXLv/jubMtJRzQqa8eVc1eVMSPa8UDhlXfOiySmHQ/u4KLKsiHtODwnfxXT4Xhr95i8hM5UKR7TcUDBG47pIJKYdjxQ+I7JtyrEtOPgi6LHc99QXjymw/Fp2peimH4p0gbwmA7HGzPQBtYuRNoAHtPh4OVOuIO5SGN4TIdT5fmUDWYijeEx/TsoVF/oB+HIdvy9PShQN8CjeqtYDfjZ4L8b4DLX0FGL1HFDbHCSmMu+Rxa3EZd1tCVJHlRQfnGeBjQuAAAAAElFTkSuQmCC");
        display: inline-block;
        transform: translateY(10%); }
      header .filter-section .btn-group #activities-btn.disabled {
        background-color: #f78888;
        color: #FFD6D6;
        border-color: #f78888; }
      header .filter-section .btn-group #activities-btn.active {
        color: #FFD6D6; }
      header .filter-section .btn-group #food-drink-btn {
        color: #fff; }
        header .filter-section .btn-group #food-drink-btn:before {
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHHSURBVEhL7ZU7S8NQFMerICIoSHXTQf0AgoODIijiIHUTHKR+ACcHBx+Lqw6Cm7p1dOm3UAShW4dKQWrvTfFR15KHeo//mx5DY5rWiHWQ/OCQe57/m9skTcR0BFWTo8qSu1HM1+eIede3RTos54Oc8hzZkqJYYx+EDrUPgcuwnA8vackLMo2lVoaa/O8JNkt+odXQWNDj/wsqx5j9vqC4xmDHXTtiut4nj13fFlnkq+7aFMtuzpL72vehzPtxFsxyqClE1I2BzxC4075S1QH472TJnM4RPfWrmhhxc7Y4YcGU9gOg4BbNNf2F4FAAso01HnLKIX2MGY5l9MaVMoaUVd7GrFfMLBDlerjUD5JpbrxRSiQ57KFsY0ofl94UmeUJDuMuRRKxK93baDiFCmySy5qDxjMufsD6AOIrsFWsz3G1cX3Dxta53EOpYi96NmCPbr8ldogqw5wOB79DFwZvoeGlcbf1TYiCMuUilzYFvd5TGgkcUx+aUyxUxFM8ozfD6VB+LPiJK4gh7LYlFmxLxwXJLI35/nDrgnlfjEqDXB4guqAl93RDS8NHmcsD/OAO5QLZ4qil4RS4PABen01dw27MX5BIfAA0cLqEt84w7gAAAABJRU5ErkJggg==");
          display: inline-block;
          transform: translateY(10%); }
        header .filter-section .btn-group #food-drink-btn.disabled {
          background-color: #f3d250;
          color: #FFF9E3;
          border-color: #f3d250; }
        header .filter-section .btn-group #food-drink-btn.active {
          color: #FFF9E3; }
      header .filter-section .btn-group #accommodation-btn:before {
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADYSURBVEhL7ZTREcIgDIZZxScdwU3cRN1AX3QJh3CSPvneEbRFCIZe2gJNKYqPfHe5K8mfP0DvEIWfaADWUsGj1XCi1IQUDYttbBXUGE+pjUGDK5UGGM2FSnGcxroxZmPNwyFdntfEh4TmlBbukNCcJK6GH/ICWHGNPYMBXsmiRpszpUbwZ+1tkWvskRpuKRrcwJuWI1KZo22mJUuWxi1IgC2e6DD5/lLj4TX/6dtjtuCQpfF2Ua5oaUC5ougAe9S5wLfmnqoh2xF8P3YYqjPIDQUV2RZSEOIDMqz/BGgyGoIAAAAASUVORK5CYII=");
        display: inline-block;
        transform: translateY(10%); }
      header .filter-section .btn-group #accommodation-btn.disabled {
        background-color: #90ccf4;
        color: #FAFDFF;
        border-color: #90ccf4; }
      header .filter-section .btn-group #accommodation-btn.active {
        color: #FAFDFF; }
    header .filter-section #modal-btn {
      height: 10vh;
      background-color: #FFE580;
      color: #A97217;
      font-size: calc(0.9vmin + 0.9vmax); }
      @media (min-width: 768px) and (max-width: 1024px) {
        header .filter-section #modal-btn {
          font-size: calc(((1vw * 2)/3) + 1vmax); } }
      @media (min-width: 1025px) {
        header .filter-section #modal-btn {
          font-size: calc(((1.2vw * 2)/3) + 1.2vmax); } }
      header .filter-section #modal-btn .material-icons {
        display: block; }
    @media (min-width: 768px) and (max-width: 1024px) {
      header .filter-section .dropdown-section {
        display: none; } }
    @media (min-width: 1025px) {
      header .filter-section .dropdown-section {
        display: none; } }
    header .filter-section .dropdown-section #filter-dropdown-btn {
      height: calc($header-height/2);
      background-color: #A7437C;
      color: #FAECF4;
      border-color: #A7437C;
      font-size: calc(1.1vmin + 1.1vmax); }
      @media (min-width: 768px) and (max-width: 1024px) {
        header .filter-section .dropdown-section #filter-dropdown-btn {
          font-size: calc(((0vw * 2)/3) + 0vmax); } }
      @media (min-width: 1025px) {
        header .filter-section .dropdown-section #filter-dropdown-btn {
          font-size: calc(((0vw * 2)/3) + 0vmax); } }
    header .filter-section .dropdown-section #activities-checkbox-label:before {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEsSURBVFhH7ZRNisJAEIV75R28gloRshyX4nFkTjEKcwHxCEa9hD9Hicu5wliveQ5RelpiuhQhHxSE95KqSnd1u5a6FL1eZ51l32uRkjGHRtseFNQGfq9CNdr2FCInX7Tf/9gMhyM2UNK259IAir+kgdAWFFn2RdseP4QiM/w1Y/aUIbz96/+Cr6cnVCwUfN2G1WAwQRHd8x0lh2do8CjZsRL59A2ILCjhVCx8A+pRskMLLbkCU0pYgSk0eJTs0Inf+2IiY0rQxtT2lOzQQj8ots3zLiWHZ9+AepRsiBWCBq/aWHJiSw2N3t/WJCc2bNDgVYczObHjFjqeyYldOKELqjGa7IikTUJX5MB09QklfCSYrj5NE7QNvG8Dlw9TB9PfJ/RximD6lpYbnDsDu+iNTz9RmNwAAAAASUVORK5CYII=");
      display: inline-block;
      transform: translateY(10%); }
    header .filter-section .dropdown-section #food-drink-checkbox-label:before {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGTSURBVFhH7ZLPSsNAEIdz10I3Wyz6Lgp6EwR9GP+f9CiVbEKfo5rEk6BelF59EEUvehBEndlMQpwh3W71IuaDhcxvv5ndJg1aWkqyOPycZVF71U+lsxaUgu+i9t+7AJVOuO9bC5wCg/u+tcApMLjvWwucAoP7vrXAKTC471sLnAKD+761wCkwuO9bC1KjXlG4HPTnKGokPdEddNNYvVAU4DNmo6i3WNThXWrCW3zGjPsCEO6tlOhVihpBB13soQgvcI1Znqhtiipgb9/ONuqKIkkWq2OSUooaAS9HNzPqiCJ4g90Vm8XhG8zYSYd6CRfM3S2y8OM86i6TLhkN+gsgPtPgPYoFmQkP0IGBT/npfI9iC/5SPMjOqC2bTZhZkRu9BQe8F40qw1eN39t+80ivwaALu4dOojep7Ru5Uetw2E11OHwazGjbDQ6GAx7LAXzBn+shi7sbpDdS+lT6cTbsaGg+hMPGtYPH+Ppxj7SJ/OgCdWYd1F6gvcDfvUDZ6FqkNzKtJ6gfMmmR3si0Xst/Jwi+AL08M6wrFEz7AAAAAElFTkSuQmCC");
      display: inline-block;
      transform: translateY(10%); }
    header .filter-section .dropdown-section #accommodation-checkbox-label:before {
      content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD4SURBVFhH7ZJBEoIwDEW5hCeChWek42l0pY6LlvsokVThpzTApLu+mYxN+/pTZmwqlRzny+vUOX+nojVvr0JO24cH1RY/yzfMBd+58KaidS6UzsaHDtGn9eFHLIdT6BQ8fllIhS6H/3363f0IHE79fAA+Yn6W8uMe63lIxOF8tHtQ7iwJCWvDIxiqDUA/5fygf+4WcRm6zx8/8MnbkhiYfSUzhR7zeUuiCoC5bx4IqD4KpXuBdsG6F6gCYO6bBwKqj0LpXqBdsO4FqgCY++aBgOqjULoXaBese4EqAOa+eSCg+lEoXTxO0vb+lrpgWa3zVx5XqTBN8wF05P4FG/6txAAAAABJRU5ErkJggg==");
      display: inline-block;
      transform: translateY(10%); }

#map {
  width: 100vw;
  height: 90vh; }
  @media (min-width: 768px) and (max-width: 1024px) {
    #map {
      width: 75vw; } }
  @media (min-width: 1025px) {
    #map {
      width: 75vw; } }

#map-col {
  padding-left: 0;
  padding-right: 0; }

#search-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100; }

#searching-alert,
#search-error-alert,
#search-complete-alert {
  width: 100%;
  position: absolute;
  z-index: 110; }

.hide {
  display: none !important; }

#cards-col {
  padding: 0;
  z-index: 0;
  background-color: #fbe8a6;
  height: 90vh;
  overflow-y: auto; }
  #cards-col #card-col-instructions {
    position: absolute;
    z-index: -10;
    color: #656464; }
  #cards-col .aside-card {
    flex: none;
    width: 100%; }
    #cards-col .aside-card.activities {
      background-color: #f78888;
      color: #FFD6D6; }
      #cards-col .aside-card.activities .card-title {
        color: #FFEF50; }
    #cards-col .aside-card.accommodation {
      background-color: #90ccf4;
      color: #FAFDFF; }
      #cards-col .aside-card.accommodation .card-title {
        color: #FF8E00; }
    #cards-col .aside-card.foodAndDrink {
      background-color: #f3d250;
      color: #FFF9E3; }
      #cards-col .aside-card.foodAndDrink .card-title {
        color: #291A7A; }
    #cards-col .aside-card.highlight {
      filter: saturate(3); }
      #cards-col .aside-card.highlight .card-title:before {
        font-family: 'Material Icons';
        content: "star";
        display: inline;
        vertical-align: bottom; }
  #cards-col .card-img-top {
    max-height: 15em;
    object-fit: cover; }

.infowindow-card {
  max-width: 40vw;
  border: none !important;
  margin-left: 10px;
  text-align: center; }
  .infowindow-card .card-img-top {
    max-height: 10em;
    object-fit: cover;
    margin-left: 10px; }

.how-it-works-section #how-it-works-cards-title {
  padding-left: 2%;
  color: red;
  font-size: calc(0vmin + 0vmax);
  font-family: "EB Garamond", serif; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .how-it-works-section #how-it-works-cards-title {
      font-size: calc(((1.3vw * 2)/3) + 1.3vmax); } }
  @media (min-width: 1025px) {
    .how-it-works-section #how-it-works-cards-title {
      font-size: calc(((1.5vw * 2)/3) + 1.5vmax); } }
.how-it-works-section #how-it-works-modal-title {
  font-family: "EB Garamond", serif; }
.how-it-works-section .instructions-list {
  list-style-type: circle; }
  .how-it-works-section .instructions-list li {
    padding: 0.2em; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .how-it-works-section .instructions-list li {
        padding: 0.8em 0.7em 0.8em 0.2em; } }
    @media (min-width: 1025px) {
      .how-it-works-section .instructions-list li {
        padding: 1em 0.7em 1em 0.2em; } }

/*# sourceMappingURL=styles.css.map */
